extends ../assets/extends/_base

block prepend head

  - var pageName = "所属タレント"

block append section

  section.hero.is-halfheight

    .hero-body

      .container

        .columns.is-multiline.is-centered

          .column.is-2

            a(href="/src/talents/karasu-tatehi.pug")

              .card

                .card-image

                  figure.image.is-1by1

                    img.has-object-cover.has-object-position-t(src=`/src/assets/img/karasu-tatehi.png`, alt=立飛カラス)


          .column.is-2

            a(href="/src/talents/yuika-sakura.pug")

              .card

                .card-image

                  figure.image.is-1by1

                    img.has-object-cover.has-object-position-t(src=`/src/assets/img/yuika-sakura.png`, alt=桜結花)
