extends extends/_standard

block prepend head
  - const pageName = "お問い合わせ"

block prepend article
  -
    let title = "CONTACT"
    let subtitle = "お問い合わせ"

block append article
  +section
    iframe(src="//docs.google.com/forms/d/e/1FAIpQLSdVQwg___3HcX6DlsYxok7kOze8WpIPDqqb0ldNgK8QqPahDw/viewform?embedded=true"  width="640" height="716" style="margin-right: auto; margin-left: auto;")
      | 読み込んでいます…
