extends extends/_standard

block prepend head
  - const pageName = "二次創作ガイドライン"

block prepend article
  -
    let title = "GUIDELINE"
    let subtitle = "二次創作ガイドライン"

block append article
  +section
    h2.title 共通事項
