extends extends/_home

block prepend head
  - const pageName = ""

block append talents
  +talent("karasu-tatehi", "立飛カラス", "Karasu Tatehi")
  +talent("yuika-sakura", "桜結花", "Yuika Sakura")

block append videos
  +video("//www.youtube.com/embed/zSkvKPc0o7U")
  +video("//www.youtube.com/embed/qQPiFwV6UeI")

block append notifications
  +notification("is-warning")
    p
      strong 重要なお知らせ&nbsp
      a(href="/guideline") 二次創作ガイドライン
      | が制定されました。ファンメイドコンテンツ制作者の方は必ずお読みください。

block gallery
  +video("//www.youtube.com/embed/zSkvKPc0o7U")
  +video("//www.youtube.com/embed/zSkvKPc0o7U")
  +video("//www.youtube.com/embed/zSkvKPc0o7U")
  +video("//www.youtube.com/embed/qQPiFwV6UeI")
  +video("//www.youtube.com/embed/qQPiFwV6UeI")
  +video("//www.youtube.com/embed/qQPiFwV6UeI")
