footer.footer

  .container

    .content.has-text-centered

      a(href="/")
        img(src="/assets/img/logo-origin.png", alt="AURORA")

      p Copyright © 2020 AURORA All Rights Reserved.


    hr


    .content.has-text-centered
      p
        | テキストは
        a(href="//creativecommons.org/licenses/by-sa/3.0/deed.ja") クリエイティブ・コモンズ 表示-継承 3.0 ライセンス
        | の下で利用可能です。追加の条件が適用される場合があります。
