extends ../extends/_talent

block prepend head
  - const pageName = "桜結花"

block prepend article
  -
    let heroImg = "/img/yuika-sakura.png"
    let title = "桜結花"
    let subtitle = "Yuika Sakura"
    let twitterId = "Maua_ya_Cherry"
    let youtubeChannel = "UCX7ojSN_abTQ0osnPol3ebQ"
    let twitchId = "sakurayuika"

block append article
  +section
    .content.is-medium
      .columns.is-centered
        .column.is-4
          .notification
            strong 名前
            p 桜結花
        .column.is-4
          .notification
            strong 誕生日
            p [非公開]
        .column.is-4
          .notification
            strong 出身
            p [非公開]
  +section
    .content.is-medium
      h2.title 経歴
      p ダイパ世代
  +section
    .content.is-medium
      h2.title 人物像
      p RPGからFPSまでオールジャンルなんでもゲームはプレイします。
      p 好きなものはゲームと肉肉肉肉肉肉肉肉肉肉肉肉。
      p 差し入れは肉かゲームがいいな。
  +section
    .content.is-small
      .notification.is-info
        p
          strong 独自に適用される二次創作ガイドラインについて取り扱っています。
        p
          | 本ガイドラインは、本タレントが公開するコンテンツに対してのみ適用されます。
          br
          | バーチャルサークル「AURORA」および所属タレントが公開する全てのコンテンツに対して適用されている二次創作ガイドラインについては、
          a(href="/guideline") こちら
          | をご確認ください。
  +section
    .content.is-medium
      h2.title 二次創作ガイドライン
      p
        | 「桜結花」の配信動画やその他コンテンツについて、視聴者の皆様が個人で利用する目的で保存を行うことは各コンテンツ規約の範囲内であれば制限する事はありません。
        br
        | また、「桜 結花」の動画の一部を切り抜き、SNS等に掲載する行為についても同様に否定しませんが、この時元となった動画のリンク等を記載していただければと思います。
      p
        | ただし誤解を招く動画の切り抜き行為、特に悪意を持ったものや作為的に異なる解釈を与えるような部分的な切り取り行為につきましては「やって欲しくない」行動として禁止させて頂きます。
      p
        | 「桜結花」を用いたファンアート、二次創作、その他の行為の掲載について私達運営が大きく制限する事項はありません。しかしながら過度に性的な作品につきましては許容範囲外として制限させていただきます。あくまでもモラルを持った行動をお願いします。
      blockquote
        p
          strong 制限される例
        ul
          li 画像掲載サイトにおいてR-18タグの付与が求められるもの
      p
        | 何かご不明な点や、解釈上の疑問がございましたら先ず運営にご相談ください。
