doctype html
html(lang="ja")
  head
    block head
      - const SITE_NAME = "バーチャルサークル「AURORA」公式サイト"
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title
        if (pageName)
          | #{pageName} | #{SITE_NAME}
        else
          | #{SITE_NAME}
      link(rel="stylesheet", href="/css/bundle.css")
      link(rel="stylesheet", href="/js/bundle.js")
  body
    block body
    block foot
      footer.footer
        .container
          .content.has-text-centered
            p テキストは
              a(href="//creativecommons.org/licenses/by-sa/3.0/deed.ja") クリエイディブ・コモンズ 表示-継承 3.0ライセンス
              | の下で利用可能です。追加の条件が適用される場合があります。
