doctype html

html(lang="ja")

  head

    include /assets/includes/_head


  body

    include /assets/includes/_siteNavbar

    block header

      header.hero.is-dark

        .hero-body

          .container

            h1.title.has-text-centered #{pageName}


    main.section

      block main

        .columns.is-flex-direction-row-reverse

          block aside

            // aside.column.is-4-tablet.is-3-widescreen

          block article

            article.column

              .container

                block section

            // article.column.is-8-tablet.is-6-widescreen


    include /assets/includes/_siteFooter

    #js-Modal.modal

      .modal-background(data-target="js-Modal")

      .modal-content

        img.modal-preview.has-object-contain(src="")

      .modal-close.is-large(aria-label="close" data-target="js-Modal")
