extends ./_base.pug

block append aside

  aside.column.is-4-tablet.is-3-widescreen

    details

      summary インフォボックス

      table.table.is-fullwidth

        include ../mixin/_infobox

        thead

          block infoboxHead


        tbody

          block infoboxBody


        tfoot

          block infoboxFoot


block article

  article.column.is-8-tablet.is-6-widescreen

    block section
