extends /assets/extends/_base

block append head

  - var pageName = "お問い合わせ"

block article

  section

    .container

      iframe(src="//docs.google.com/forms/d/e/1FAIpQLSdVQwg___3HcX6DlsYxok7kOze8WpIPDqqb0ldNgK8QqPahDw/viewform?embedded=true" style="width: 100%; height: 100vh;")
        | 読み込んでいます…
