extends /assets/extends/_home

block newTalents

  +talent("karasu-tatehi", "立飛カラス", "Vrt Backpacker, Assassin")

  +talent("yuika-sakura", "桜結花", "Vrt Fem Univ Stu")


block gallery

  +gallery(4, "", "yuika-sakura", 1)

  +gallery(4, "-t", "karasu-tatehi", 1)

  +gallery(4, "", "yuika-sakura", 2)

  +gallery(4, "", "karasu-tatehi", 2)

  +gallery(4, "", "yuika-sakura", 3)

